{{template "base" .}}

{{define "title"}}{{.Note.Title}}{{end}}

{{define "main"}}
    {{with .Note}}
        <div class='note'>
            <div class='metadata'>
                <strong>{{.Title}}</strong>
                <span>#{{.ID}}</span>
            </div>
            <pre><code>{{.Content}}</code></pre>
            <div class='metadata'>
                <time>Created: {{humanDate .Created}}</time>
                <time>Expires: {{humanDate .Expires}}</time>
            </div>
        </div>
        {{end}}
    {{end}}